    <div class="bgAllPage">
        <div class="container bgAllPage">
            <footer class="py-3 my-4 ">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3 ">
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link px-2 text-warning me-5"> PRIVACY POLICY </a>
                    </li>
                    <li class="nav-item">
                        <li href="#" class="nav-link px-2 text-warning me-5">ABOUT TULIP</a>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link px-2 text-warning me-5"> CONTACT US </p>
                        <p class="nav-link px-2 text-warning"> 1919 </p>
                    </li>

                    <li class="nav-item">
                        <p class="nav-link px-2 text-warning"> FELLOW </p>
                    </li> -->
                </ul>
                <p class="text-center text-warning">&copy; Tulip Company </p>
            </footer>
        </div>
    </div>
</body>
</html>